---
import Layout from '../layouts/Layout.astro';
import ContactUs from '../components/contact-us';
---

<Layout title="Contact | Steelzilla">
  <div class="flex-col">
    <div class="my-8 space-y-8 px-4">
      <div class="justify-center items-center space-x-4 flex md:flex-row flex-col">
        <span class="font-thin text-2xl">CALL OR TEXT</span>
        <span class="md:text-5xl text-4xl font-semibold underline">
          <a href="sms:12538205600">(253)820 5600</a>
        </span>
      </div>
      <div class="justify-center items-center space-x-4 flex md:flex-row flex-col">
        <span class="font-thin text-2xl">EMAIL</span>
        <span class="md:text-5xl text-4xl font-semibold underline">
          <a href="mailto:curbzilla@gmail.com">steelzilla@gmail.com</a>
        </span>
      </div>
    </div>

    <hr class="w-full border-zinc-200" />
    <h1 class="text-xl text-center px-4 my-4">
      You can also contact us via the form below.
    </h1>

    <ContactUs client:load />
  </div>
</Layout>
