---
import Layout from "../layouts/Layout.astro";
import GalleryContainer from "../components/gallery-container";
import ContactUs from "../components/contact-us";
import { PNW_IMAGES } from "../utils/images";
import { withDimensions } from "../utils/getDimensions";

const photos = await withDimensions(PNW_IMAGES);

import "react-photo-album/rows.css";
import "yet-another-react-lightbox/styles.css";
---

<Layout title="Pacific Northwest Life | Steelzilla">
  <div class="flex flex-col items-center">
    <GalleryContainer
      client:load
      galleryRef={photos}
      title="PACIFIC NORTHWEST LIFE"
    />
    <ContactUs client:load />
  </div>
</Layout>
