---
interface Props {
  imgSrc: string;
  alt: string;
  text?: string;
  subtext?: string;
}

const { imgSrc, alt, text, subtext } = Astro.props;
---

<div class="w-full h-[250px] md:h-[750px] flex justify-center items-center">
  <div class="relative w-full h-full">
    <img
      src={imgSrc}
      alt={alt}
      style="position: absolute; inset: 0; width: 100%; height: 100%; object-fit: cover;"
    />
  </div>
  {(text || subtext) && (
    <div class="absolute backdrop-brightness-50 p-2 space-y-4">
      <h1 class="font-semibold text-zinc-100 text-3xl md:text-5xl">{text}</h1>
      <h2 class="font-light text-zinc-100 text-xl md:text-3xl">{subtext}</h2>
    </div>
  )}
</div>
