---
interface Props {
  imageUrl: string;
  header?: string;
  body: string;
  alt?: string;
}

const { imageUrl, header, body, alt } = Astro.props;
---

<div class="w-100 flex-col text-center">
  <img
    src={imageUrl}
    alt={alt ?? "Image"}
    width="400"
    height="400"
    class="rounded-lg"
  />
  <h3 class="font-bold text-lg mt-2">{header}</h3>
  <div>{body}</div>
</div>
